@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular', sans-serif;
}
/* gilroy */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../src/fonts/gilroy-bold.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../src/fonts/gilroy-semiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../src/fonts/gilroy-medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../src/fonts/gilroy-regular.ttf");
}
/* Inter */
@font-face {
  font-family: "Inter-Regular";
  src: url("../src/fonts/Inter-Regular.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  display: inline-block;
}

/* carousel style */

.control-dots{
  bottom:-50px !important;
  z-index: 2;
  position: absolute;
}
.thumbs-wrapper{
  display: none; 
}
.carousel .control-dots .dot{
  background-color: #BBC2D0 !important;
  margin: 0 6px !important;
}
.carousel .control-dots .dot.selected{
  background-color: #3D639D !important;
}
.carousel-slider{
  overflow: visible !important;
}

.carousel.carousel-slider .control-arrow{
  background-color: #3D639D !important;
  width: 30px;
  height: 50px;
  top:40% !important;
  display: none;
}
.control-prev{
  left: 40px !important;
}
.control-next{
  right: 40px !important;
}
.carousel-status{
  display: none;
}